# PwC Code Screen

Thank you for taking the time to complete this code screen. Below you will find 5 programming questions which you will answer in either Python (Qs. 1, 2, 3, and 5) or SQL (Qs. 4). For each question, please carefully review the problem statement and then complete your solution in the following code cell block.

The questions in this document are primarily designed to test your basic proficiency with Python and SQL. Therefore, you will not need to install, import/load, or use any non-standard libraries aside from the import statements we have already provided (i.e., `json` and `pandas` in Qs. 3 and `pickle` in Qs. 5). Please do not import any other libraries.

At the bottom of each cell block, we invoke the function that you will write with a test case. We also provide the expected solution for the example test case. Ideal submissions will not only solve for these example test cases, but also for the general case as described in the problem statement.

When you are finished, please run the cells for your solutions in order from top to bottom in this notebook (i.e., click `Kernel > Restart Kernel and Run All Cells...`).

# 1. FizzBuzz

Given a number **n**, print each integer **i** from 1 to **n** _inclusively_ as follows:

- If **i** is divisible by 3 (but not 5), print `Fizz`
- If **i** is divisible by 5 (but not 3), print `Buzz`
- If **i** is divisible by both 3 and 5, print `FizzBuzz`
- Otherwise, if none of the above are true, just print the value of **i**

Complete the function `fizz_buzz()` below to achieve the above problem statement. As a bonus challenge, try to solve the problem with less than three conditional statements.

In [1]:
def fizz_buzz(n):
    
    # Complete the function
    #
    # Hint: Output each line with print(); this
    # function does not need to return anything
    for i in range(1,n+1):
      if i%3 ==0 and i%5==0:
        print("FizzBuzz")
      elif i%3 == 0:
        print("Fizz")        
      elif i%5 == 0:
        print("Buzz")  
      else:
        print(i)  
    return None


# DO NOT EDIT BELOW...
fizz_buzz(20)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

**Solution:**

```
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
```

# 2. List Comprehension

Given a list of lists of integers, apply the square opration to all elements that are greater than zero and discard any elements that are less than or equal to zero. Note that not all lists will have the same number of elements.

Take for example the input `[[-1, 1, 2, -2, 6], [3, 4, -5]]`. By first removing the elements less than or equal to zero, we get `[[1, 2, 6], [3, 4]]`. Then, squaring each remaining element, the final answer is `[[1, 4, 36], [9, 16]]`.

Complete the function `list_comprehension()` below to achieve the problem statement _without_ using any loops (i.e., `while` or `for` statements).

In [42]:
def list_comprehension(arr):
    
    # Complete the function
    #
    # Hint: Do NOT use any loops
    arr = list(map(lambda x : list(map(lambda y: y*y ,list(filter(lambda f : f>0 ,x)))),arr))
    return arr


# DO NOT EDIT BELOW...
list_comprehension([[-1, 1, 2, -2, 6], [3, 4, -5]])

[[1, 4, 36], [9, 16]]

**Solution:**

```
[[1, 4, 36], [9, 16]]
```

# 3. JSON DataFrame

Given an arbitrary JSON payload in the general form of `[{valA_1: keyA, valB_1: keyB, ...}, {valA_2: keyA, valB_2: keyB, ...}, ...]`, load the data into a DataFrame of the general form as follows:

| $keyA$   | $keyB$   | $\cdots$ |
| -------- | -------- | -------- |
| $valA_1$ | $valB_1$ | $\cdots$ |
| $valA_2$ | $valB_2$ | $\cdots$ |
| $\vdots$ | $\vdots$ | $\ddots$ |

As a hint, to get you started, you should first invert each of the dictionaries. For example, `{valA_1: keyA, valB_1: keyB}` would invert to become `{keyA: valA_1, keyB: valB_1}`.

In [69]:
import json
import pandas as pd


def json_df(data):
    
    # Complete the function
    #
    # You may create other functions if you wish,
    # but make sure this function accepts the JSON
    # string as input and returns a Pandas DataFrame
    cols=[]
    rows=[]
    for i in data:
      row=[]
      for k in i.keys():
        if i[k] not in cols:
          cols.append(i[k])
        row.append(k)  
      rows.append(row)  
    data=pd.DataFrame(rows,columns = cols)
    #data=data.to_string(index=False)  
    return data.to_string(index=False)


# DO NOT EDIT BELOW...
json_df([
    {"a1": "A", "b1": "B", "c1": "C"},
    {"a2": "A", "b2": "B", "c2": "C"},
    {"a3": "A", "b3": "B", "c3": "C"},
    {"a4": "A", "b4": "B", "c4": "C"}
])

'  A   B   C\n a1  b1  c1\n a2  b2  c2\n a3  b3  c3\n a4  b4  c4'

**Solution:**
    
| A  | B  | C  |
| -- | -- | -- |
| a1 | b1 | c1 |
| a2 | b2 | c2 |
| a3 | b3 | c3 |
| a4 | b4 | c4 |

# 4. Counting Votes with SQL

Given a database of votes won by different candidates in an election, find the number of votes won by female candidates whose age is less than 50.

## Schema

There are two tables, `Candidates` and `Results`.

### Candidates

| Name   | Type | Description          |
| ------ | ---- | -------------------- |
| id     | INT  | Primary key.         |
| gender | STR  | Gender of candidate. |
| age    | INT  | Age of candidate.    |
| party  | STR  | Party of candidate.  |

### Results

| Name            | Type | Description             |
| --------------- | ---- | ----------------------- |
| constituency_id | INT  | Constituency contested. |
| candidate_id    | INT  | Foreign key.            |
| votes           | INT  | Number of votes won.    |

## Sample Data

### Candidates

| id | gender | age | party      |
| -- | ------ | --- | ---------- |
| 1  | M      | 55  | Democratic |
| 2  | M      | 51  | Democratic |
| 3  | F      | 49  | Democratic |
| 4  | M      | 60  | Republic   |
| 5  | F      | 61  | Republic   |
| 6  | F      | 48  | Republic   |

### Results

| constituency_id | candidate_id | votes  |
| --------------- | ------------ | ------ |
| 1               | 1            | 847529 |
| 1               | 4            | 283409 |
| 2               | 2            | 293841 |
| 2               | 5            | 394385 |
| 3               | 3            | 429084 |
| 3               | 6            | 303890 |

### Expected Ouput

732974

### Explanation

There are three female candidates contesting the election. Two of them are less than 50 years old. The sum of their votes is 429084 + 303890 = 732974.

## Note

You will need to write your SQL query so that it can run inside of this Jupyter Notebook. You should use SQL (not Python), but will need to prefix your query with `%sql`. First run the cells to load the Jupyter SQL extension and connect to the database (you do not need to edit these cells). Then write your query in the third cell; we have provided a sample query here that you can edit to get started.

In [30]:
# DO NOT EDIT BELOW...
%load_ext sql
%sql sqlite:///codescreen.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @codescreen.db'

In [31]:
# WRITE SQL QUERY HERE (LEAVE %sql PREFIX)
%sql SELECT SUM(votes) total_votes FROM Results r INNER JOIN Candidates c ON c.id = r.candidate_id AND c.gender = 'F' AND c.age < 50 ;

 * sqlite:///codescreen.db
(sqlite3.OperationalError) no such table: Results
[SQL: SELECT SUM(votes) total_votes FROM Results r INNER JOIN Candidates c ON c.id = r.candidate_id AND c.gender = 'F' AND c.age < 50]
(Background on this error at: http://sqlalche.me/e/e3q8)

# 5. Pickled Objects

Write a function that accepts the path to a pickled function and reads it into memory.

Hint: You should use the `pickle` library.

In [62]:
import pickle


def load_object(path):
    
    # Complete the function
    obj = path
    f=open(obj,"rb")
    obj=pickle.load(f)
    return obj 


# DO NOT EDIT BELOW...
load_object("secret.pkl")

FileNotFoundError: ignored

**Solution:**

```
'You solved the challenge!'
```